:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #242424;

  --font-size-large: 32px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: var(--primary-color); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: Virgil;
  src: url('./assets/fonts/Virgil.woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0;
  margin: 0;
  margin-block: unset;
  margin-inline: unset;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--primary-color);
  transform-origin: 0%;
}
